# Maven
target/
log/

# Gradle
.gradle/
build/

# OS X
.DS_Store

### STS/Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VSCode ###
.vscode
bin/
