<?xml version="1.0"?>
<configuration>
  <appSettings>
      <add key="FileName" value="SaleHotel_sh_bj.xls"/>
      <add key="GoogleSoaUrl"
           value="http://ws.english.sh.ctriptravel.com/English-Site-InternalWS/ActivitiesWS.asmx"/>

      <add key="GoogleSoaAspxUrl"
           value="http://hotels.ws.ctrip.com/GoogleHPAService.aspx?Query="/>
      <add key="CtripSoaUrl"
           value="http://ws.reservation.hotel.sh.ctriptravel.com/Hotel-Booking-ReservationWS/ReservationService.asmx"/>
      <add key="DefaultUserID" value="330141"/>
      <add key="TimeSpan" value="0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
