<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="BusinessPath" value="Business" />
    <add key="ProfilePath" value="Profiles"/>
    <add key="LogPath" value="Logs"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath=".;Business;"/>
    </assemblyBinding>
  </runtime>
</configuration>