<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mq.kafka.demo.mapper.CenterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mq.kafka.demo.entity.Center">
        <id column="id" property="id" />
        <result column="city_key" property="city_key" />
        <result column="center_code" property="centerCode" />
        <result column="center_name" property="centerName" />
        <result column="center_status" property="centerStatus" />
        <result column="created_by" property="createdBy" />
        <result column="created_timestamp" property="createdTimestamp" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_timestamp" property="updatedTimestamp" />
    </resultMap>

</mapper>
